language: java
# skip default install
install: true
# redis
services:
  - redis-server
cache:
  directories:
   - $HOME/.m2

jdk:
 - oraclejdk7
 - openjdk7
 - oraclejdk8
# - openjdk6

before_script:
 - sudo service redis-server stop
 - redis-server --bind 127.0.0.1 --port 6379 --requirepass testpass --daemonize yes
 - wget http://www-eu.apache.org/dist/zookeeper/zookeeper-3.4.8/zookeeper-3.4.8.tar.gz
 - tar zxf zookeeper-3.4.8.tar.gz
 - cp zookeeper-3.4.8/conf/zoo_sample.cfg zookeeper-3.4.8/conf/zoo.cfg
 - bash zookeeper-3.4.8/bin/zkServer.sh start
 - rm -rf $HOME/.m2/repository/com/alibaba/dubbo*

after_script:
 - bash zookeeper-3.4.8/bin/zkServer.sh stop

script:
# - mvn -DskipTests=true -Dmaven.javadoc.skip=true -Dmaven.source.skip=true -B -V clean install

 - mvn -Dmaven.javadoc.skip=true -Dmaven.source.skip=true -B -V clean compile test


# travis